# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

*.html
*.pdf

*_files/
libs/
rsconnect/
*.dcf
*.zip

test*
.vscode/
*.log
