/* tweaked Xaringan Package defaults that we slightly tweak
author: Oliver Lindemann
*/

a, a > code {
  color: blue; /* rgb(249, 38, 114) */
  text-decoration: underline;
}

/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

.inverse {
  background-color: #272822;
  color: #f3f3f3;
  text-shadow: 0 0 20px #333;
}

/* slightly spacing change */
.inverse h1 {
  color: #e97200;
  line-height: 1.0em;
}

.inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding: 5px 15px 5px 15px;
}

table {
  font-size: 28px;
  margin: auto;
  border-top: 4px solid #666;
  border-bottom: 4px solid #666;
}
thead th {
  border-bottom: 2px solid #666;
  background: #eee;
}

.gray-rows thead,
.gray-rows tfoot,
.gray-rows tr:nth-child(even) { background: #eee; }


/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.final-slide h1,
.center h1,
.middle h1{
  padding-top: 50px;
}


/* Title slide */

.title-slide {
  background-image: url("../styles/eur-logo.png");
  background-position: 95% 10%;
  background-size: 100px;
  background-color: #272822;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

.title-slide h1 {
  color: #EEE;
  padding-top: 250px;
  font-weight: normal;
  font-size: 85px;
  line-height: 0.05;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: #e97200;
  font-size: 45px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  padding-bottom: 100px;
  margin-top: 30px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #CCC;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  font-size: 0px;
  text-shadow: none;
}


/* SECTIONS */

.final-slide {
  background-color: #272822;
  font-weight: normal;
  color: white;
  padding-left: 100px;
  text-align: center;
}

.final-slide .remark-slide-number {
  font-size: 0px;
}

.final-slide {
  background-image: url("../styles/eur-logo.png");
  background-position: 95% 95%;
  background-size: 100px;
}

.final-slide h1 {
  color: #e97200;
}

.final-slide h2 {
  padding-top: 100px;
  color: white;
}

.final-slide  p {
 padding-top: 200px;
 color: white;
}


/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

.bkg-logo {
  background-image: url("../styles/Logo-EUR-gray.png");
  background-position: 97% 4%;
  background-size: 180px;
}

.remark-slide-number {
  font-size: 14px;
}

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 80px;  /* delete this for 4:3 aspect ratio */
}

/* Color adjustments for text */
.emph {
  font-weight: bold;
  color: #e97200;
}

.eur-color {
  color: #e97200;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

h2, h3 {
  color: black;
  margin-top: 35px;
  margin-bottom: 5px;
}

h1 {
  color: #515151;
  margin-top: 20px;
  margin-bottom: 35px;
}



p, ul, h3, li {
  margin-top: 0.5em;
  font-size: 28px;
}

.small h2 {
  font-size: 38px;
}

.small h3 {
  font-size: 26px;
}

.small p,
.small ul,
.small li {
  font-size: 22px;
}
